
/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1; /* Place it behind your content */
}

header {
    font-family: 'Baloo', cursive,Arial, Helvetica, sans-serif;
    background-color: transparent; /* Make the header background transparent */
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative; /* Add position relative to contain its children */
    z-index: 2; /* Place it above the SVG wave */
}
/* Navigation bar styles */
nav {
    font-family: 'Baloo', cursive,Arial, Helvetica, sans-serif;
    background-color: transparent; /* Make the nav background transparent */
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative; /* Add position relative to contain its children */
    z-index: 2; /* Place it above the SVG wave */
    margin-bottom: 95px;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}


h1 {
    font-size: 36px;
}

.resume-section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: transform 0.3s;
}

.resume-section:hover {
    transform: scale(1.05);
}
.resume{
    margin: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    
}


h2 {
    font-size: 24px;
    color: #3498db; /* Section header color */
}

p {
    font-size: 18px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

