/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Navigation bar styles */
nav {
    font-family: 'Baloo', cursive,Arial, Helvetica, sans-serif;
    background-color: transparent; /* Make the nav background transparent */
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative; /* Add position relative to contain its children */
    z-index: 2; /* Place it above the SVG wave */
    margin-bottom: 100px;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1; /* Place it behind your content */
}

header {
    font-family: 'Baloo', cursive,Arial, Helvetica, sans-serif;
    background-color: transparent; /* Make the header background transparent */
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative; /* Add position relative to contain its children */
    z-index: 2; /* Place it above the SVG wave */
}

/* Style the main content area */
main {
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s; /* Add a transition for smooth animation */
    transition: transform 0.3s;
}

/* Style the image references list */
ol {
    padding-left: 20px;
    font-size: 18px;
}

ol li {
    margin-bottom: 10px;
}

/* Style the quiz and book references */
h2 {
    font-size: 24px;
    margin-top: 20px;
}

/* Style links */
a {
    color: #f39c12;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #e67e22;
}

/* Add a hover effect for the main content */
main:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Increase the shadow intensity on hover */
    transform: scale(1.05);
}
